<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PopolamentoDBServlet</servlet-name>
  	<display-name>PopolamentoDBServlet</display-name>
  	<description></description>
  	<servlet-class>it.unisa.zyphyksport.control.PopolamentoDBServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetProdsFromCartServlet</servlet-name>
  	<display-name>GetProdsFromCartServlet</display-name>
  	<description></description>
  	<servlet-class>it.unisa.zyphyksport.control.GetProdsFromCartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>it.unisa.zyphyksport.control.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpServlet</servlet-name>
  	<display-name>SignUpServlet</display-name>
  	<description></description>
  	<servlet-class>it.unisa.zyphyksport.control.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>it.unisa.zyphyksport.control.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemFromCartServlet</servlet-name>
  	<display-name>RemFromCartServlet</display-name>
  	<description></description>
  	<servlet-class>it.unisa.zyphyksport.control.RemFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PopolamentoDBServlet</servlet-name>
  	<url-pattern>/PopolamentoDBServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetProdsFromCartServlet</servlet-name>
  	<url-pattern>/GetProdsFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpServlet</servlet-name>
  	<url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemFromCartServlet</servlet-name>
  	<url-pattern>/RemFromCartServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
  	<description>Riferimento JNDI ad un data source</description>
  	<res-ref-name>jdbc/zyphyk_sport</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
</web-app>
